@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}



body {
  background: #edeff0;
  padding: 20px 0 0;
  font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

header, nav, section, footer {
  background: white;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto 10px auto;
}

h1, h2, h3 {
  font-size: 3.6em;
  font-weight: 500;
  color: #384047;
  line-height: 1.2;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 5px;
}

p, label {
  color: #8d9aa5;
  font-size: 1.4em;
  margin-bottom: 10px;
  line-height: 1.4;
}

a {
  color: #3f8abf;
  line-height: 1.4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  font-size: 1.25em;
}

header h1 {
  float: left;
}

header img {
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  height: 43px;
  width: 43px;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline;
  padding: 10px;
}

#page ul {
  margin-bottom: 10px;
}

#profilepic {
  float: right;
  height: 256px;
  width: 256px;
  margin: 5px 0 5px 10px;
  border-radius: 100%;
}

.photogridicon {
  height: 47px;
  width: 47px;
  vertical-align: middle;
}

.photogrid {
  margin: 1px;
}

.photos {
  float: left;
  height: 256px;
  width: 256px;
  margin: 5px;
}

.courses {
  color: #8d9aa5;
  line-height: 1.4em;

}

.piclink {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.project {
  color: #8d9aa5;
  font-size: 1.4em;
  margin-bottom: 10px;
  vertical-align: middle;
}

ul.project {
  padding-left: 25px;
  padding-bottom: 10px
}

.project a {
  font-size: .875em;
}

.projectname {
  color: black;
  margin-bottom: 5px;
}

li.projectdesc {
  line-height: 1.4em
}

.right {
  float: right;
  margin-top: 92.5px;
  margin-bottom: 92.5px;
  margin-right: 50px;
}

footer p {
  font-size: 1.25em;
  margin: 0;
}

@media screen and (max-width: 860px) {

  header, nav, section, footer {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
  }

  .right {
    float: none;
    margin: 0;
    margin-bottom: 10px;
  }

  .photos {
    float: left;
    width: 48%;
    height: 48%;
    margin: 1%;
  }

}

@media screen and (max-width: 660px) {

  body {
    padding-top: 10px;
  }

  header, nav, section, footer {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  header h1 {
    font-size: 3em;
    width: 100%;
  }

  header img {
    float: none;
  }

  ul.project {
    padding-left: 0;
  }

  #profilepic {
    float: none;
    margin: 10px;
  }

  li img.piclink {
    margin-left: 47%;
    margin-right: 47%;
  }

}